@font-face {
	font-family: 'helvetica-bold';
	src: url('../fonts/helvetica-bold.eot');
	src: local('☺'), url('../fonts/helvetica-bold.woff') format('woff'), url('../fonts/helvetica-bold.ttf') format('truetype'), url('../fonts/helvetica-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'helvetica-regular';
	src: url('../fonts/helvetica-regular.eot');
	src: local('☺'), url('../fonts/helvetica-regular.woff') format('woff'), url('../fonts/helvetica-regular.ttf') format('truetype'), url('../fonts/helvetica-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Geomanist';
	src: url('../fonts/hinted-Geomanist-Regular.eot');
	src: url('../fonts/hinted-Geomanist-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-Geomanist-Regular.woff2') format('woff2'),
		url('../fonts/hinted-Geomanist-Regular.woff') format('woff'),
		url('../fonts/hinted-Geomanist-Regular.ttf') format('truetype'),
		url('../fonts/hinted-Geomanist-Regular.svg#Geomanist-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
